<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
</style>

<table style="border-collapse: collapse;" mat-table [dataSource]="dataSource">
  <!-- number Column -->
  <ng-container matColumnDef="numero_linea">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element">

      <label style="width: 10px;">{{element.numero_linea}}</label>
    </td>
  </ng-container>

  <!-- account Column -->
  <ng-container matColumnDef="cuenta">
    <th mat-header-cell *matHeaderCellDef> cuenta </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field style="width: 250px; margin-left: -100px;">
        <mat-select>
          <mat-option *ngFor="let cuenta of cuentas" value="element.cuenta"
            (click)="setCuenta(cuenta.numero+' '+'-'+' '+cuenta.nombre+' '+'-'+' '+cuenta.descripcion,element.numero_linea)">
            {{cuenta.numero}} - {{cuenta.nombre}} - {{cuenta.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="debito">
    <th mat-header-cell *matHeaderCellDef> debito </th>
    <td mat-cell *matCellDef="let element">
      <input type="number" class="field" #debito (ngModelChange)="setDebito(debito.value,element.numero_linea)"
        ngModel="" value="element.debito">
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="credito">
    <th mat-header-cell *matHeaderCellDef> credito </th>
    <td mat-cell *matCellDef="let element">
      <input type="number" class="field" #credito (ngModelChange)="setCredito(credito.value,element.numero_linea)"
        ngModel="" value="element.credito">
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> descripcion </th>
    <td mat-cell *matCellDef="let element">
      <textarea class="field" #descripcion (ngModelChange)="setDescripcion(descripcion.value,element.numero_linea)"
        ngModel="" value="element.descripcion" style="height:70px; font-size:smaller"></textarea>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="impuesto">
    <th mat-header-cell *matHeaderCellDef> impuesto </th>
    <td mat-cell *matCellDef="let element">
      <input class="field" #impuesto (ngModelChange)="setImpuesto(impuesto.value,element.numero_linea)" ngModel=""
        value="element.impuesto">
    </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="fecha_emision_factura">
    <th mat-header-cell *matHeaderCellDef> Emision de factura </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field style="width: 90px;">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input style="margin-left: -10px;" class="field" matInput #fecha_emision_factura
          (dateChange)="setFecha_emision_factura($event,element.numero_linea)" [matDatepicker]="picker"
          placeholder="00/00/0000">
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="proveedor">
    <th mat-header-cell *matHeaderCellDef> proveedor </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field style="width: 90px;">
        <mat-select>
          <mat-option *ngFor="let proveedor of proveedores" value="element.proveedor"
            (click)="setProveedor(proveedor.nombre+' '+'-'+' '+proveedor.correo,element.numero_linea)">
            {{proveedor.nombre}} - {{proveedor.correo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="accion">
    *ngFor="let AsientoRow of AsientoRows"
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td style="width: 5%;" mat-cell *matCellDef="let element">
      <button style="margin-left: 20%;" mat-icon-button (click)="deleteRow(element.numero_linea)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
  <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
</table>

<button mat-icon-button (click)="addNewRow()">
  <mat-icon>note_add</mat-icon>
</button>
<hr>
<br>
<div style="margin-left: 23%;">
  <td style="width: 160px;">
    Debitos:
  </td>
  <td style="width: 160px;">
    Creditos:
  </td>
</div>
<br>