table {
    width: 100%;
    border-collapse: collapse;
    //border-collapse: separate;
    //table-layout: auto;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}