<div class="centrar">
    <div>
        <h1 style="text-align: center;">Nueva cuenta</h1>
        <br>
        <div>
            <table>
                <td style="width: 400px;">
                    <mat-form-field>
                        <mat-label>Tipo de cuenta</mat-label>
                        <input matInput placeholder="tipo">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Tipo de detalles</mat-label>
                        <input matInput placeholder="detalle">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="nombre">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Numero</mat-label>
                        <input matInput placeholder="numero">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Descripcion</mat-label>
                        <input matInput placeholder="descripcion">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Divisa</mat-label>
                        <input matInput placeholder="divisa">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Saldo inicial</mat-label>
                        <input matInput placeholder="saldo inicial">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa">
                    </mat-form-field>
                </td>
            </table>
        </div>
        <div>
            <mat-card style="width: 100%; height: 20%;">
                <mat-label>
                    Use las cuentas de ahorros para realizar
                    un seguimiento de los ahorros y los gastos en
                    efectivo.
                    <br>
                    <br>
                    Cada cuenta de ahorro que su cuenta posee en
                    un banco u otra institución financiera ... ...
                </mat-label>
            </mat-card>
        </div>
        <br>
        <div class="centrar">
            <button mat-raised-button color="primary">Cancelar</button>
            <button mat-raised-button color="accent">Guardar</button>
        </div>
    </div>
</div>