<div class="centrar" mat-dialog-content>
    <div>
        <h1 style="text-align: center;">Nueva cuenta</h1>
        <br>



        <div>
            <table>
                <td>
                    <mat-form-field>
                        <mat-label>
                            Tipo de cuenta
                        </mat-label>
                        <mat-select>
                            <mat-option *ngFor="let tipo of tipoCuenta" [value]="tipo" (click)="setTipo(tipo)">
                                {{tipo}}
                            </mat-option>
                        </mat-select>

                        <div class="centrar">
                            <mat-card style="width: 50%; height: 20%;" class="centrar">
                                <mat-label>
                                    Use las cuentas de ahorros para realizar
                                    un seguimiento de los ahorros y los gastos en
                                    efectivo.
                                    <br>
                                    <br>
                                    Cada cuenta de ahorro que su cuenta posee en
                                    un banco u otra institución financiera
                                </mat-label>
                            </mat-card>
                        </div>
                    </mat-form-field>
                    <br>
                </td>

                <td>

                    <mat-form-field>
                        <mat-label>Tipo de detalle</mat-label>
                        <input #tipo_detalle matInput placeholder="detalle"
                            (ngModelChange)="setTipo_detalle(tipo_detalle.value)" ngModel="">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input #nombre matInput placeholder="nombre" (ngModelChange)="setNombre(nombre.value)"
                            ngModel="">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Numero</mat-label>
                        <input #numero matInput placeholder="numero" (ngModelChange)="setNumero(numero.value)"
                            ngModel="">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Descripcion</mat-label>
                        <input #descripcion matInput placeholder="descripcion"
                            (ngModelChange)="setDescripcion(descripcion.value)" ngModel="">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>
                            Divisa
                        </mat-label>
                        <mat-select>
                            <mat-option #divisa *ngFor="let divisa of divisas" [value]="divisa"
                                (click)="setDivisa(divisa)">
                                {{divisa}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Saldo inicial</mat-label>
                        <input #saldo matInput placeholder="saldo inicial" (ngModelChange)="setSaldo(saldo.value)"
                            ngModel="">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-datepicker-toggle matSuffix [for]="fecha_registro"></mat-datepicker-toggle>
                        <mat-datepicker #fecha_registro></mat-datepicker>
                        <input matInput [matDatepicker]="fecha_registro" placeholder="dd/mm/aaaa"
                            (dateChange)="setFecha_registro($event)">
                    </mat-form-field>

                </td>

            </table>
        </div>




        <br>
        <div class="centrar">
            <button mat-raised-button style="background-color: crimson;">Cancelar</button>
            <button mat-raised-button style="background-color: aquamarine;" (click)="createCuenta()">Guardar</button>
        </div>
    </div>
</div>