<mat-card>
  <div>
    <div>
      <button mat-icon-button (click)="toAllAsientos()">
        <label><mat-icon>history</mat-icon>
          Todos los
          asientos</label>
      </button>
    </div>
    <br>
  </div>
  <div>
    <table>
      <td>
        <div>
          <mat-form-field appearance="fill" style="margin-left: 20px; width: 150px;">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="datepicker" placeholder="00/00/0000">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancelar</button>
                <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>



          <mat-form-field appearance="fill" style="margin-left: 20px; width: 100px;">
            <mat-label>Divisa</mat-label>
            <mat-select>
              <mat-option value="dolar">Dolar</mat-option>
              <mat-option value="euro" disabled>Euro (disabled)</mat-option>
              <mat-option value="colon">Colon</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
      <td>
        <div style="margin-left: 200px; width: 200px;">
          <h1 style="font-size:xx-large;"> Asiento n° {{consecutivo_asiento}}</h1>
        </div>
      </td>
      <td style="margin-right: 10px;">
        <mat-card style="width: 250px" valing="top">
          <img src="../../../assets/LogoCliente.png" />
          CEDULA JURIDICA
        </mat-card>
      </td>
    </table>
  </div>
  <br>

  <mat-toolbar style="background-color: rgba(133, 132, 132, 0.335); height: 30px;">
    <div id="sharebuttons" style="margin-left: 95%;">
      <button mat-icon-button>
        <mat-icon>download</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <br>


  <app-edi-table></app-edi-table>

  <mat-toolbar style="background-color: rgba(133, 132, 132, 0.335); height: 30px;">
  </mat-toolbar>
  <br>
  <div>
    <mat-label>Notas</mat-label>
    <div>
      <textarea style="width: 200px;"></textarea>
    </div>
  </div>




  <br>
  <div id="wrap">

  </div>


  <mat-toolbar style="background-color:rgba(104, 103, 103, 0.335); height: 40px;">
    <div class="btn-group" style="margin-left: 80%;">
      <mat-form-field style="width: 200px;">
        <mat-label>GUARDAR</mat-label>
        <mat-select>
          <mat-option value="op1">Guardar y crear nuevo</mat-option>
          <mat-option value="op2">Guardar y cerrar</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar>