<!--BARRA SUPERIOR QUE CONTIENE 2 MENU-->
<mat-toolbar style="background:rgb(135, 194, 176);">
  <div class="menu-top-bar">
    <!--MENU PARA ACCIONES DE GESTION Y CONTROL-->
    <div>
      <button (click)="settingsSidenav.toggle()" mat-icon-button>
        <mat-icon>view_list</mat-icon>
        Empresa actual
      </button>                    
    </div>
    <!--MENU PARA ACCIONES DEL USUARIO-->
    <div>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>dvr</mat-icon>
        Usuarios y empresas
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>perm_identity</mat-icon>
          <span>Información del usuario</span>
        </button>
        <button mat-menu-item>
          <mat-icon>supervised_user_circle</mat-icon>
          <span>Usuarios</span>
        </button>
        <button mat-menu-item>
          <mat-icon>business</mat-icon>
          <span>Empresas</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>event</mat-icon>
          <span>Actividades</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesion</span>
        </button>
      </mat-menu> 
    </div>
  </div>
</mat-toolbar>

<!--CONTENEDOR PRINCIPAL DEL DASHBOARD-->
<mat-drawer-container>
  <!--CONTENEDOR PARA ACCIONES DE GESTIÓN Y CONTROL-->
  <mat-drawer #settingsSidenav mode="side" position="start" style="background:rgb(135, 194, 176); color: rgb(188, 184, 221);">

    <!--CONTENEDOR DE OPCIONES PARA CONTABILIDAD-->
    <mat-accordion multi>
      <mat-expansion-panel style="background: rgb(114, 175, 172);">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: rgb(164, 232, 236);">
            <mat-icon>calculate</mat-icon>
            Módulo contable
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--LISTA CON LAS OPCIONES DE CONTABILIDAD-->
        <mat-list>   
          <mat-list-item class="manage-control-options" role="listitem" [matMenuTriggerFor]="generales" style="font-size: 18px; font-family: 'Times New Roman', Times, serif;">+ Generales</mat-list-item>
              <mat-menu #generales="matMenu" style="color: rgb(76, 0, 255);">
                <button mat-menu-item [matMenuTriggerFor]="catalogocuentas" style="background-color: chartreuse;">Catálogo de cuentas</button>
                <button mat-menu-item [matMenuTriggerFor]="deposito" style="background-color: chartreuse;">Depósito bancario</button>
                <button mat-menu-item [matMenuTriggerFor]="transferencia" style="background-color: chartreuse;">Transferencia</button>
                <button mat-menu-item [matMenuTriggerFor]="asiento" style="background-color: chartreuse;">Asiento de diario</button>
              </mat-menu>
  
              <mat-menu #catalogocuentas="matMenu">
                <button mat-menu-item (click)="toNewCuenta()">Nueva cuenta</button>
                <button mat-menu-item (click)="toAllCuentas()">Catálogo</button>
              </mat-menu>
  
              <mat-menu #deposito="matMenu">
                <button mat-menu-item (click)="toNewDeposito()">Nuevo depositos</button>
                <button mat-menu-item (click)="toAllDepositos()">Todos los depositos</button>
              </mat-menu>
  
              <mat-menu #transferencia="matMenu">
                <button mat-menu-item (click)="toNewTransferencia()">Nueva transferencia</button>
                <button mat-menu-item (click)="toAllTransferencias()">Todas las transferencias</button>
              </mat-menu>
  
              <mat-menu #asiento="matMenu">
                <button mat-menu-item (click)="toNewAsiento()">Nuevo asiento</button>
                <button mat-menu-item (click)="toAllAsientos()">Todos los asientos</button>
              </mat-menu>

          <hr>
  
          <mat-list-item class="manage-control-options" role="listitem" (click)="toCuentasXCobrar()">+ Cuentas por cobrar</mat-list-item>
            <hr>

          <mat-list-item class="manage-control-options" role="listitem" (click)="toCuentasXPagar()">+ Cuentas por pagar</mat-list-item>
          <hr>
          <mat-list-item class="manage-control-options" [matMenuTriggerFor]="conciliacion" role="listitem">+ Conciliaciones bancarias</mat-list-item>
          <mat-menu #conciliacion="matMenu">
            <button mat-menu-item (click)="toNewConciliacion()">Nueva conciliaciación</button>
            <button mat-menu-item (click)="toAllConciliaciones()">Todas las conciliaciones</button>
          </mat-menu>

          <hr>
          <mat-list-item class="manage-control-options" role="listitem" (click)="toInventarios()">+ Inventarios</mat-list-item>
          <hr>
          <mat-list-item class="manage-control-options" role="listitem" (click)="toReportes()">+ Reportes</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    
    <!--CONTENEDOR DE OPCIONES PARA ADMINISTRACIÓN-->
    <mat-accordion multi>
      <mat-expansion-panel style="background: rgb(45, 88, 86);">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: rgb(164, 232, 236);">
            <mat-icon>business_center</mat-icon>
            Módulo administrativo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--LISTA CON LAS OPCIONES DE ADMINISTRACIÓN-->
        <mat-list> 
          <mat-list-item class="manage-control-options" role="listitem" [matMenuTriggerFor]="animals">+ General</mat-list-item> 
              <mat-menu #animals="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
                <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
              </mat-menu>
  
              <mat-menu #vertebrates="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                <button mat-menu-item>Birds</button>
                <button mat-menu-item>Mammals</button>
              </mat-menu>
  
              <mat-menu #invertebrates="matMenu">
                <button mat-menu-item>Insects</button>
                <button mat-menu-item>Molluscs</button>
                <button mat-menu-item>Crustaceans</button>
                <button mat-menu-item>Corals</button>
                <button mat-menu-item>Arachnids</button>
                <button mat-menu-item>Velvet worms</button>
                <button mat-menu-item>Horseshoe crabs</button>
              </mat-menu>
  
              <mat-menu #fish="matMenu">
                <button mat-menu-item>Baikal oilfish</button>
                <button mat-menu-item>Bala shark</button>
                <button mat-menu-item>Ballan wrasse</button>
                <button mat-menu-item>Bamboo shark</button>
                <button mat-menu-item>Banded killifish</button>
              </mat-menu>
  
              <mat-menu #amphibians="matMenu">
                <button mat-menu-item>Sonoran desert toad</button>
                <button mat-menu-item>Western toad</button>
                <button mat-menu-item>Arroyo toad</button>
                <button mat-menu-item>Yosemite toad</button>
              </mat-menu>
  
              <mat-menu #reptiles="matMenu">
                <button mat-menu-item>Banded Day Gecko</button>
                <button mat-menu-item>Banded Gila Monster</button>
                <button mat-menu-item>Black Tree Monitor</button>
                <button mat-menu-item>Blue Spiny Lizard</button>
                <button mat-menu-item disabled>Velociraptor</button>
              </mat-menu>
  
          <mat-list-item class="manage-control-options" role="listitem">+ Cosas de administración</mat-list-item>
          
          <mat-list-item class="manage-control-options" role="listitem">+ Otras varas</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    
    <img style="margin-left: 50pt; margin-top: 50pt;" src="../../../assets/LogoSistema.png"/>
    
  </mat-drawer>
  
  <mat-drawer-content>
    <!--GRAFICAS-->
    <td>
      <mat-drawer-content style="margin-left: 0px;">
        <mat-card>
          <app-all-charts></app-all-charts>
        </mat-card>
      </mat-drawer-content>
      
    </td>
    <!--DIVISAS-->
    <td valign="top">
      <div>
        <mat-card>
          Conversor de divisas
          <mat-card>
            <td>  
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Cantidad de dinero</mat-label>
                <input matInput placeholder="Ingrese solo numeros">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Cantidad de dinero</mat-label>
                <input matInput placeholder="Ingrese solo numeros">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Elija una moneda</mat-label>
                <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
                  <mat-option value="valid">Dolar</mat-option>
                  <mat-option value="valid">Euro</mat-option>
                  <mat-option value="valid">Colón</mat-option>
                  <mat-option value="invalid">---</mat-option>
                </mat-select>
                <mat-hint>¡Debe elegir una moneda!</mat-hint>
                <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                  Este campo no debe estar vacío
                </mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>Elija una moneda</mat-label>
                <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
                  <mat-option value="valid">Colón</mat-option>
                  <mat-option value="valid">Dolar</mat-option>
                  <mat-option value="valid">Euro</mat-option>
                  <mat-option value="invalid">---</mat-option>
                </mat-select>
                <mat-hint>¡Debe elegir una moneda!</mat-hint>
                <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                  Este campo no debe estar vacío
                </mat-error>
              </mat-form-field>
            </td>
          </mat-card>
        </mat-card>
        <br>
        <mat-card>
          Dolares - {{fecha}}
          <hr>
          <td>Compra: ₡ 0.00</td>
          <br>
          <td>Venta: ₡ 0.00</td>
        </mat-card>
        <br>
        <mat-card>
          Euros - {{fecha}}
          <hr>
          <td>Compra: ₡ 0.00</td>
          <br>
          <td>Venta: ₡ 0.00</td>
        </mat-card>
      </div>
    </td>
  </mat-drawer-content>
</mat-drawer-container>