<mat-card>
  <table>
    <td>
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="datepicker" placeholder="00/00/0000">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancelar</button>
          <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
        </mat-datepicker-actions>
      </mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <h1> Consecutivo # {{consecutivo}}</h1>
    </td>
    <td>
      <img src="../../../assets/LogoCliente.png"/>
    </td>
  </table>

  


  
  <mat-card style="height: 300px">
    <div>
      <p>
        Fila #{{numlinea}}
      </p>
      
      <td>
        <tr><label style="width: 170px;">Cuenta contable</label></tr>
        <tr><mat-form-field style="width: 70px;">
          <mat-select [formControl]="cuentaControl" required>
            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta" (click)="setCuenta(cuenta.banco)">
              {{cuenta.titular}} - {{cuenta.banco}} - {{cuenta.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="cuentaControl.hasError('required')">Selecione una cuenta</mat-error>
          <mat-hint>{{cuentaControl.value?.titular}}</mat-hint>
        </mat-form-field></tr>
      </td>
      <td>
        <tr><label>Debito</label></tr>
        <br>
        <tr><input matInput #debito placeholder="- - -"></tr>
      </td>      
      <td>
        <tr><label>Credito</label></tr>
        <br>
        <tr><input matInput #credito placeholder="- - -"></tr>
      </td>
      <td>
        <label>Impuesto</label>
        <input matInput #impuesto placeholder="- - -">
      </td>
      <td>
        <label>Proveedor</label>
        <mat-form-field style="width: 70px;">
          <mat-select [formControl]="proveedorControl" required>
            <mat-option #nombre *ngFor="let proveedor of proveedores" [value]="proveedor" (click)="setProveedor(proveedor.nombre)">
              {{proveedor.nombre}} - {{proveedor.correo}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="proveedorControl.hasError('required')">Selecione un proveedor</mat-error>
          <mat-hint>{{proveedorControl.value?.nombre}}</mat-hint>
        </mat-form-field>
      </td>
    </div>
    
    
    <div>
      <mat-form-field style="width: 500px;">
        <mat-label>Descripcion</mat-label>
        <textarea matInput #descripcion placeholder=">>> "></textarea>
    
      </mat-form-field>
    </div>
    <div>
      
        <mat-form-field>
          <mat-label>Ingreso al banco</mat-label>
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <input matInput #fechabanco [matDatepicker]="picker" placeholder="00/00/0000">
        </mat-form-field>
    </div> 
    <p></p>
    <div>
      <td>
        <button mat-icon-button (click)="debito.value=''; credito.value=''; impuesto.value=''; descripcion.value=''; fechabanco.value='';">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
      <td>
        <button mat-icon-button (click)="addRow(debito.value, credito.value, impuesto.value, descripcion.value, fechabanco.value)">
          <mat-icon>check_circle</mat-icon>
        </button>
      </td>
    </div>   
</mat-card>


  
</mat-card>

<mat-card>
  <div id="sharebuttons">
    <button mat-icon-button> <mat-icon>download</mat-icon> </button>
    <button mat-icon-button> <mat-icon>share</mat-icon> </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="numlinea">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="cuenta">
        <th mat-header-cell *matHeaderCellDef> Cuentas </th>
        <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="debito">
        <th mat-header-cell *matHeaderCellDef> Debitos </th>
        <td mat-cell *matCellDef="let element"> {{element.debito}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="credito">
        <th mat-header-cell *matHeaderCellDef> Creditos </th>
        <td mat-cell *matCellDef="let element"> {{element.credito}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="impuesto">
        <th mat-header-cell *matHeaderCellDef> Impuestos </th>
        <td mat-cell *matCellDef="let element"> {{element.impuesto}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="proveedor">
        <th mat-header-cell *matHeaderCellDef> Proveedores </th>
        <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fechabanco">
        <th mat-header-cell *matHeaderCellDef> Ingreso al banco </th>
        <td mat-cell *matCellDef="let element"> {{element.fechabanco}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="accion">
        *ngFor="let AsientoRow of AsientoRows"
        <th mat-header-cell *matHeaderCellDef> Editar / Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editRow(element.numero, getCuenta(element.cuenta), debito.value, credito.value, impuesto.value, getProveedor(element.proveedor), descripcion.value, fechabanco.value)"> <mat-icon>create</mat-icon> </button>
          <button mat-icon-button (click)="deleteRow(element.numero)"> <mat-icon>highlight_off</mat-icon> </button> 
        </td>
        <tr >
          <td>
            
          </td>
        </tr>
      </ng-container>
  
  
  
      <tr mat-header-row *matHeaderRowDef="Columns"></tr>
      <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="dataSource">
    </mat-paginator>
  
    

    <mat-card>
        <td>
            <button mat-fab color="warn" style="width: 100px; color: rgb(0, 0, 0);">Borrar todo</button>
        </td>
        <td>
            <button mat-fab color="warn" style="width: 120px; background-color: rgb(88, 71, 243); color: rgb(0, 0, 0);">Crear y guardar</button>
        </td>
        <td>
            <button mat-fab color="warn" style="width: 70px; background-color: rgb(229, 241, 205); color: rgb(0, 0, 0);">Guardar</button>
        </td>
    </mat-card>
</div>
</mat-card>
    


<div class="alert alert-primary">
    <td>
        <button>ver todos los asientos</button>
    </td>
    <td>
        <button>ir al panel de control</button>
    </td>
</div>